.home-services {
    padding: 1.5em 0;

    .card {
        border: none;
        text-align: center;

        .fa {
            text-align: center;
            font-size: 2.5em;
            margin: .5em 0;
        }
    }
}